<!-- <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">L'Ivresse</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><h2><%= link_to Add a Cocktail, new_cocktail_path %></h2></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <section class="home">
      <h1 id="h1" class="text-center">All Cocktails</h1>
    </section>
<h2><%= link_to Add a Cocktail, new_cocktail_path %></h2>
<div class="container col-8 mt-5"> -->

<li><h2><%= link_to "Add a Cocktail", new_cocktail_path %></h2></li>


  <div class="card-columns">
    <% @cocktails.each do |cocktail| %>
    <div class="card m-1 mt-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
        <%= cl_image_tag("iq1skshmhvw3ok22grne.jpg", width: 400, height: 300, crop: :fill) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="text-center">
</div>
<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
